<!--Navigation-->
<div class = "container-fluid" style="background:#333333; padding: 20px 0px 20px 0px;">
  <div class = "container-fluid" style="background:#333333; padding: 20px 0px 20px 0px;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" style="font-size:25px;color:#2ecc71" href="index.html"><i class="fa fa-play-circle-o fa-md"></i>YouCode.io</a>
        </div>
        <div class="nav navbar-nav navbar-right">
          <li><a href="/faq.html">Faq</a></li>
          <li><a href="http://blog.youcode.io">Blog</a></li>
          
        </div>

      </div>
    </nav>
  </div>
    <!--/navbar-default--><br/>
    <a href="http://blog.youcode.io"><h1 class="text-cloud text-center">BLOG</h1></a>
  </div><!--/CONTAINER-->
  </div><!--/CONTAINER-FLUID-->
<!--/Navigation-->
<div class = "container-fluid" style="background:#43ac6a; padding: 7px 0px 0px 0px;"></div>

